* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Styling the navbar */
.navbar {
    background-color: orange;
}
.navbar ul{
    display: flex;
    align-items: center;
    height: 4rem;
    margin: 0 0 1.5rem 0;
}
.navbar ul li a {
    text-decoration: none;
    color: black;
}
.navbar ul li {
    list-style-type: none;
    padding-right: 2rem;
    font-size: 24px;
}

/* Styling the login form */

.form_fieldset {
    height: 9rem;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.login_info {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: calc(100vh - 3px);*/
    overflow: hidden;
}

.form_elements {
    display: grid;
    grid-template-columns: 1fr 4fr; 
    grid-gap: 5px;
    margin: 6px 0px 8px 0px;
}
.form_elements label {
    text-align: right;
}
