@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: url(../../images/bg.jpg) no-repeat center;
    background-size: cover;
    font-family: 'Jost', sans-serif;
}

/* Styling the navbar */
.navbar {
    background-color: orange;
}
.navbar ul{
    display: flex;
    align-items: center;
    height: 4rem;
    margin: 0 0 1.5rem 0;
}
.navbar ul li a {
    text-decoration: none;
    color: black;
}
.navbar ul li {
    list-style-type: none;
    padding-right: 2rem;
    font-size: 24px;
}

/* Styling the login form */

.login-info {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#avatar {
    height: 100px;
    width: 100px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    background: rgba(255,255,255,0.8);
    border-radius: 50%;
}
.form::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.08);
    border-radius: 10px;
    pointer-events: none; /* Instructs the pointer event to go "through" the element and target whatever is "underneath" that element instead. */
}
.form {
    position: relative;
    width: 100%;
    max-width: 380px;
    padding: 80px 40px 40px 40px;
    background: rgba(0,0,0,0.7);
    border-radius: 10px;
    color: white;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}
.form h2 {
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
    color: #ff652f;
}

.form .input-group {
    position: relative;
}

.form .input-group input {
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    color: inherit;
}
.form .input-group label {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    padding: 10px 0;
    font-size: 1rem;
    pointer-events: none;
    transition: 0.3s ease-out;
}

.translate-label {
    transform: translateY(-18px);
    color: #ff652f;
    font-size: 0.8rem !important;
}

.submit-btn {
    display: block;
    margin-left: auto;
    outline: none;
    border: none;
    background: #ff652f;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
